<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Failed</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
<div class="container">
    <h4>
    Registration Failed<br><br>
    Either you entered an invalid credit card number or the username has already been taken <br><br>
    Redirecting you back to the registration page in 3 seconds
    </h4>
</div>
    <meta http-equiv="refresh" content="3;'/add_user'" />
</body>
</html>