<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Product</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
	<div class="container">
        <section class="header">
        <h1>View Product Page</h1>
        </section>
        <div class="row">
        {% if jlist1 %}
            <h4>Phones</h4>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Brand</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Description</th>
                </tr>
                {% for slimmy in jlist1 %}
                    <tr>
                        <td>{{ slimmy.id }}</td>
                        <td>{{ slimmy.name }}</td>
                        <td>{{ slimmy.brand }}</td>
                        <td>{{ slimmy.quantity }}</td>
                        <td>{{ slimmy.price }}</td>
                        <td>{{ slimmy.description }}</td>
                    </tr>
                {% endfor %}
            </table>
            <h4>Laptops</h4>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Brand</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Description</th>
                </tr>
                {% for slimmy in jlist2 %}
                    <tr>
                        <td>{{ slimmy.id }}</td>
                        <td>{{ slimmy.name }}</td>
                        <td>{{ slimmy.brand }}</td>
                        <td>{{ slimmy.quantity }}</td>
                        <td>{{ slimmy.price }}</td>
                        <td>{{ slimmy.description }}</td>
                    </tr>
                {% endfor %}
            </table>
            <h4>Tablets</h4>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Brand</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Description</th>
                </tr>
                {% for slimmy in jlist3 %}
                    <tr>
                        <td>{{ slimmy.id }}</td>
                        <td>{{ slimmy.name }}</td>
                        <td>{{ slimmy.brand }}</td>
                        <td>{{ slimmy.quantity }}</td>
                        <td>{{ slimmy.price }}</td>
                        <td>{{ slimmy.description }}</td>
                    </tr>
                {% endfor %}
            </table>
            {% else %}
                <p>No products found.</p>
            {% endif %}
        </div>
        <br><br>
        <div class="container">
        <form action="../add_to_cart" method="POST">
			<div class="row">Enter Product ID to add to cart: </div>
			<div class="row"><input type="text" name="prod_id"></div>
			<div class="row"><input type="submit" value="Submit"></div>
		</form>
        </div>
        <div class="container">
            <br><div class="row"><a href="/user_view_product">Sort Products by Name</a></div><br>
        </div>
        <div class="container">
            <form action="/process_limit" method="POST">
                <div class="row">Enter minimum price: </div>
                <div class="row"><input type="text" name="left_limit"></div>
                <div class="row">Enter maximum price: </div>
                <div class="row"><input type="text" name="right_limit"></div>
                <div class="row"><input type="submit" value="Submit"></div>
            </form>
        </div>
        <div class = "row" id = "new-section">
            <h3><a href="/user_home">Back to Homepage</a></h3>
        </div>
    </div>
</body>
</html>